%table.table
  %thead
    %tr
      %th ID
      %th Username
      %th Company
      %th Group
      %th Roles

  %tbody
    - collection.each do |row|
      %tr
        %td= row.id
        %td= row.username
        %td= row.customer_name
        %td= row.group_name
        %td= row.role_names_list